<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('navbar'); %>

    <div class="main-content" id="main-content">
      <div class="container">
        <!-- Konten utama berada di sini -->
        <h1>Absensi Siswa</h1>

        <a
          href="/absensi/add"
          class="btn btn-success mb-2"
          style="margin-top: 20px; margin-bottom: 20px";
          >Add</a
        >

        <div  class="table-responsive"  style="margin-top: 20px;">
          <table class="table">
            <caption>
              Absensi Siswa List
            </caption>
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Siswa</th>
                <th scope="col">Kelas</th>
                <th scope="col">Sakit</th>
                <th scope="col">Izin</th>
                <th scope="col">Alpa</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            
            <tbody>
              <% absensi.forEach((data,index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= data.strNamaSiswa %></td>
                  <td><%= data.intSakit %></td>
                  <td><%= data.intIzin %></td>
                  <td><%= data.intAlpa %></td>
                  <td><%= data.strKelas %></td>
                 
                  <td>
                    <button
                      id="<%= data.id %>"
                      class="btn btn-info btn-sm edit-absensi"
                    >
                      Edit
                    </button>
  
                    <button
                      id="<%= data.id %>"
                      class="btn btn-danger btn-sm delete-absensi"
                    >
                      Hapus
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/index.js"></script>

  </body>
</html>
