<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('navbar'); %>

    <div class="main-content" id="main-content">
      <div class="container">
        <!-- Konten utama berada di sini -->
        <h1>Identitas Sekolah</h1>

        <a
          href="/identitas/add"
          class="btn btn-success mb-2"
          style="margin-top: 20px; margin-bottom: 20px";
          >Add</a
        >

        <div  class="table-responsive"  style="margin-top: 20px;">
          <table class="table">
            <caption>
              Identitas Sekolah List
            </caption>
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Sekolah</th>
                <th scope="col">Nomor Induk Sekolah</th>
                <th scope="col">Alamat</th>
                <th scope="col">Kode Pos</th>
                <th scope="col">Telpon</th>
                <th scope="col">Kelurahan</th>
                <th scope="col">Kecamatan</th>
                <th scope="col">Kabupaten</th>
                <th scope="col">Provinsi</th>
                <th scope="col">Website</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            
            <tbody>
              <% identitas.forEach((data,index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= data.strNamaSekolah %></td>
                  <td><%= data.strNIS %></td>
                  <td><%= data.strAlamat %></td>
                  <td><%= data.strKodePos %></td>
                  <td><%= data.strTelpon %></td>
                  <td><%= data.strKelurahan %></td>
                  <td><%= data.strKecamatan %></td>
                  <td><%= data.strKabuten %></td>
                  <td><%= data.strProvinsi %></td>
                  <td><%= data.strWebsite %></td>
                  <td><%= data.strEmail %></td>
                  <td>
                    <button
                      id="<%= data.id %>"
                      class="btn btn-info btn-sm edit-identitas"
                    >
                      Edit
                    </button>
  
                    <button
                      id="<%= data.id %>"
                      class="btn btn-danger btn-sm delete-identitas"
                    >
                      Hapus
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/index.js"></script>

  </body>
</html>
