<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('navbar'); %>

    <div class="main-content" id="main-content">
      <div class="container">
        <!-- Konten utama berada di sini -->
        <h1>Mata Pelajaran</h1>

        <a
          href="/mapel/add"
          class="btn btn-success mb-2"
          style="margin-top: 20px; margin-bottom: 20px";
          >Add</a
        >

        <div  class="table-responsive"  style="margin-top: 20px;">
          <table class="table">
            <caption>
              Mata Pelajaran List
            </caption>
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Mata Pelajaran</th>
                <th scope="col">Kelas</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody>
              <% mapel.forEach((data,index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= data.strMataPelajaran %></td>
                  <td><%= data.strKelas %></td>
                  <td>
                    <button
                      id="<%= data.id %>"
                      class="btn btn-info btn-sm edit-kelas"
                    >
                      Edit
                    </button>
  
                    <button
                      id="<%= data.id %>"
                      class="btn btn-danger btn-sm delete-kelas"
                    >
                      Hapus
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
